<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FS Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

		<div class="container">
		<header
			class="d-flex flex-wrap justify-content-center py-3 mb-2 border-bottom">
			<h3>FS Library</h3>
		</header>

		<div class="container">
			<div class="row">
				<div class="col-sm text-center"><a th:href="@{/customer/list}" class="btn btn-secondary mb-2">Customers</a></div>
				<div class="col-sm text-center"><a th:href="@{/book/list}" class="btn btn-secondary mb-2">Publications</a></div>
				<div class="col-sm text-center"><a th:href="@{/copies/list}" class="btn btn-secondary mb-2">Copies</a></div>
				<div class="col-sm text-center"><a th:href="@{/borrowings/list}" class="btn btn-secondary mb-2">Borrowings</a></div>
				<div class="col-sm text-center"> <a th:href="@{/author/list}" class="btn btn-secondary mb-2">Authors</a></div>
			</div>
		</div>
		<div class="container text-center">
			<p class="border-bottom py4"> <h3>Publications list</h3></p>
		</div>
		<!--  END OF HEADER -->
		

	
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr class="table-dark text-center align-middle">
				<th >Name</th>
				<th>Authors</th>
				<th>YEAR</th>
				<th>ISBN</th>
				<th>Copies</th>
				<th class="text-center align-middle">				<!--  Add Button for adding books -->
					<a 	th:href="@{/book/addPublication}"
					class="btn btn-outline-warning">New publication</a>
				</th>				
			</tr>
		</thead>	
		<tbody>	

		
			<tr th:each="tempBook : ${books}">
				<td th:text="${tempBook.name}"/>
				<td th:text="'placeholder'"/>
				<td th:text="${tempBook.year}" style="text-align: center"/>
				<td th:text="${tempBook.isbn}" style="text-align: center"/>
				<td th:text="${#lists.size(tempBook.physicalBooks)}" style="text-align: center"/>
				<td style="text-align: center">
						<a 	th:href="@{/book/showFormForUpdate(bookId=${tempBook.id})}" class="btn btn-primary btn-sm mb-1">Update</a>
						<a 	th:href="@{/book/showBookDetail(bookId=${tempBook.id}, failCopy=false)}" class="btn btn-primary btn-sm mb-1">Detail</a>
						<a 	th:href="@{/book/deleteBook(bookId=${tempBook.id})}" class="btn btn-danger btn-sm mb-1"
							onclick="if (confirm('Are you sure you want to delete this publication	?')){window.location.href='${deleteLink}';} else { return false; }">Delete</a>
							
				</td>
			</tr>
		</tbody>	
	</table>
							<a 	th:href="@{/book/addPublication}"
					class="btn btn-secondary">New publication</a>
</div>
</body>
</html>