<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add physical copies</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"><h3>Customer directory</h3></header>
	<p class="h4 mb-4">Add physical copies</p>
	
	<form action="x" 	th:action="@{/copies/saveCopies}"
						th:object="${copy}"
						method="POST">
		<input type="hidden" th:field="*{id}"/>
		<select th:field="${bookDto.detailId}" class="form-select mb-2" size="4" style="width : 35.33%">
    		<option th:each="detail : ${bookDto.details}" th:text="${detail.name}" th:value="${detail.id}">
    		</option>
		</select>
		<input type="text" th:field="(${bookDto.amountOfCopies})" th:value="(${amountOfCopies})" class="form-control mb-4 col-2" placeholder="Number of copies" style="width : 35.33%" />
		<button type="button" onclick="window.location.href='/copies/list'" class="btn btn-danger col-2 me-3">Back</button><button type="submit" value="SAVE" class="btn btn-success col-2">Save</button>
	</form>	
</div>
</body>
</html>